.main {
  box-sizing: border-box;
  background-color: #63cdda;
  padding: 20px 20px;
  margin-top: 10vh;
  min-height: 90vh;
}

.main *::selection {
  background-color: #303952;
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .main {
    padding: 20px 40px;
  }
}
